*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
.idea
*.log*
log/
metrics/

# YARD artifacts
.yardoc
_yardoc
doc/
cucumber.json
rerun.txt
tags
dump.rdb
*-done.csv
*_done.csv
Gemfile.lock

config/cucumber.yml

config/cucumber.yml

Gemfile

features-2.0/Current_Testing/test1.feature

features-2.0/Publish/Publish_A_Message/Upload_Image/test2.feature

features-2.0/Publish/Publish_A_Message/Upload_Image/test1.feature

config/cucumber.yml

Gemfile

Gemfile.lock

features-2.0/Support/env.rb

*.lock

app/workers/publishing_worker.rb

config.ru

config/application.rb

config/boot.rb

config/cucumber.yml

config/environments/test.rb

config.ru

config.ru

features-2.0/Support/env.rb

Gemfile

*.lock

features-2.0/Support/env.rb

Gemfile

Gemfile.lock

Gemfile

Gemfile.lock

features-2.0/Support/env.rb

features-2.0/Support/env.rb

features-2.0/Support/env.rb

Gemfile

Gemfile.lock
